@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
  font-family: 'ABeeZee', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

header .topic-btn {
  margin: 5px;
}

header h3 {
  width: 500px;
}

.site-container {
  display: flex;
}

#site {
  flex: 3;
  margin: 20px;
}

aside {
  flex: 1;
  margin: 0 20px;
}

aside form {
  margin-top: 30px;
}

aside #topic-input {
  width: 70%;
}

aside h2 {
  margin-top: 30px;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
}

.gif-container {
  margin: 20px 10px;
  position: relative;
}

.gif-container span {
  text-transform: uppercase;
}

#favorites-section img {
  margin: 10px;
}

.gif-container .favorites-star {
  position: absolute;
  opacity: 0.8;
  top: 20%;
  right: 2%;
  color: gold;
  *transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
}

.gif-container .favorites-star:hover {
  opacity: 1;
  transition: 0.5s ease;
  cursor: pointer;
}

.gif-container .favorites-star:hover ~ img {
  opacity: 0.6;
  transition: 0.5s ease;
}

#favorites-section {
  display: flex;
  flex-wrap: wrap;
}

.favorite-container {
  position: relative;
}

.favorite-container .remove {
  position: absolute;
  font-size: 22px;
  color:white;
  padding: 0 10px;
  top: 9%;
  right: 6%;
  opacity: 0.8;
}

.favorite-container .remove:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}